
.pics {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    flex-direction: row;
    margin: 0px 20px 20px 20px; 
}
.pics a{
   padding: inherit;
}
.logo {
    padding: .5em;
    height: 5em;}

header{ 
    display:flex;
    flex:1;
    background-color: #77b9f2

}
footer{
    
    background-color: #77b9f2
}
nav a{
    font-family: monospace;
    font-size: 200%;
    color: #2a1eb9
    
}